nav {
    position: fixed;
    background: rgba(0,0,0, 0);
    padding: 0px 20px;
}

section {
    background-image: url('../images/arm-break-coffee-257897.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
}

.box {
    margin-top: 20px;
    height: 1000px;
}

nav li a:hover {
    background: red;
}


